* {
	overflow-x: none;
	overflow-y: none;
}

.body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: #cfbaf0;
	background: url(https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
	background-size: cover;
	background-repeat: none;
}

.app {
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8.5px);
	-webkit-backdrop-filter: blur(8.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	margin-top: 3%;
	padding: 1% 5%;
}

.sketch {
	background-color: white;
	display: grid;
	width: 800px;
	height: 800px;
}

.title {
	display: flex;
	justify-content: center;
	font-size: xx-large;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.grid {
	border-right: 1px solid rgb(185, 185, 185);
	border-bottom: 1px solid rgb(185, 185, 185);
}

button {
	border-radius: 10px;
	border: none;
	background-color: rgb(238, 57, 57);
	color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.sketch {
		background-color: white;
		display: grid;
		width: 300px;
		height: 300px;
		/* border: 1px solid black; */
	}

	.controls {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.controls div {
		padding: 1%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.sketch {
		background-color: white;
		display: grid;
		width: 450px;
		height: 450px;
		/* border: 1px solid black; */
	}

	.controls {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.sketch {
		background-color: white;
		display: grid;
		width: 620px;
		height: 620px;
	}

	.controls {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
